._3v_o {
  background-color: #292a2f;
}
h1._5hy4, h2._3403, div._3403, a._5hy9 {
  color: white;
}
button._42ft._4jy0._2m_r._43dh._4jy4._517h._51sy {
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  color: white;
  background-color: #0084ff;
}
button._42ft._4jy0._2m_r._43dh._4jy4._517h._51sy:hover {
  color: white;
  background-color: #06427a;
}